<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="formulario" >
        <mat-card-content>
          <mat-form-field class="formulario-fullwidth">
            <input matInput placeholder="Usuário" name="login" [(ngModel)]="login" >
          </mat-form-field>
  
          <mat-form-field class="formulario-fullwidth">
            <input matInput type="password" placeholder="Senha" name="pass" [(ngModel)]="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="loginUser()">Log in</button>
      </form>
    </mat-card>
  
  </div>