<div class="monitoramento-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Monitoramento Barragem</mat-card-title>
          </mat-card-header>
      
          <form class="formulario">
      
            <mat-card-content>
                    
                <div class="formulario">
                  <canvas baseChart width="800" height="300"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
                
                <button mat-raised-button color="accent" class="btn-block" (click)="adicionarRegistro()">ATIVAR ALARME</button>
            </mat-card-content>
      
          
          </form>
        </mat-card>

</div>
      