<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Cadastro Ativos</mat-card-title>
      </mat-card-header>
  
      <form class="formulario">
  
        <mat-card-content>
            <mat-form-field class="formulario-fullwidth">
                <mat-label>Selecione o tipo do equipamento</mat-label>
                <mat-select #tipoEquipamento required="true">
                    <mat-option value="caminhao">Caminhão</mat-option>
                    <mat-option value="esteira">Esteira de Transporte</mat-option>
                    <mat-option value="triturador">Triturador</mat-option>
                </mat-select>
            </mat-form-field>
  
          <mat-form-field class="formulario-fullwidth">
            <input matInput placeholder="Modelo equipamento" #modeloEquipamento required="true" >
          </mat-form-field>

          <mat-form-field class="formulario-fullwidth">
            <input matInput placeholder="Ano de fabricação" #anoFabricacao required="true">
          </mat-form-field>

          <mat-form-field class="formulario-fullwidth">
            <textarea matInput placeholder="Descrição" #descricao required="true"></textarea>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block" (click)="salvarAtivo(tipoEquipamento.value, modeloEquipamento.value, anoFabricacao.value, descricao.value)">Cadastrar</button>
      </form>
    </mat-card>
  </div>
  