<div class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Cadastro de Ativos</mat-card-title>
    </mat-card-header>

    <form class="formulario">
      <mat-card-content>

      </mat-card-content>
      <button mat-stroked-button color="primary" (click)="acessarCadastroAtivos()">Acessar</button>
    </form>
  </mat-card>

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Listar Ativos</mat-card-title>
    </mat-card-header>

    <form class="formulario">
      <mat-card-content>
        <md-icon svgIcon="arrow-down" class="size-16"></md-icon>
      </mat-card-content>
      <button mat-stroked-button color="primary" (click)="acessarListaAtivos()">Acessar</button>
    </form>
  </mat-card>

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Monitoramento</mat-card-title>
    </mat-card-header>

    <form class="formulario">
      <mat-card-content>

      </mat-card-content>
      <button mat-stroked-button color="primary" (click)="acessarMonitoramento()">Acessar</button>
    </form>
  </mat-card>

</div>